{% extends 'NewstoreCamionBundle::layoutbundle.html.twig' %}

{%block content%}
<h2>Supprimer un camion</h2>
<hr/>
<p>
    Etes-vous certain de vouloir supprimer le camion immatricul&eacute; "{{ Camion.immatriculation}}" ?
</p>

<form action="{{ path('newstore_camion_supprimer', {'id': Camion.id}) }}" method="post">
    <a href="{{ path('newstore_camion_voir', {'id': Camion.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour au camion
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
</form>

  {%endblock%}