{% extends 'NewstoreProduitBundle::layoutbundle.html.twig' %}
{%block vmenu_part%}
<li class=""><a href="{{ path('newstore_produit_index') }}"><i class="icon-chevron-right"></i> Liste des Produits</a></li>
<li class="active"><a href="{{ path('newstore_produit_ajouter') }}"><i class="icon-chevron-right"></i> Ajouter un produit</a></li>
{%endblock%}

{%block content%}
<h1>Ajout d'un produit</h1>
<hr/>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{%endblock%}