{% extends 'NewstoreFournisseurBundle::layoutbundle.html.twig' %}

{%block content%}
<h2>Supprimer un article</h2>
<hr/>
<p>
    Etes-vous certain de vouloir supprimer l'article "{{ fournisseur.designation }}" ?
</p>

<form action="{{ path('newstore_fournisseur_supprimer', {'id': fournisseur.id}) }}" method="post">
    <a href="{{ path('newstore_fournisseur_voir', {'id': fournisseur.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour &agrave; la liste
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
</form>

  {%endblock%}